inventory2.wsdl

<?xml version='1.0' encoding='UTF-8' ?>
<definitions name='Persons'
  targetNamespace='urn:soaptest'
  xmlns:tns='urn:soaptest'
  xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
  xmlns:xsd='http://www.w3.org/2001/XMLSchema'
  xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
  xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
  xmlns='http://schemas.xmlsoap.org/wsdl/'>

<message name='newUserRequest'>
  <part name='id' type='xsd:string'/>
  <part name='firstName' type= 'xsd:string'/>
  <part name='lastName' type= 'xsd:string'/>
  <part name='address' type= 'xsd:string'/>
  <part name='phone' type= 'xsd:string'/>
  <part name='email' type= 'xsd:string'/>
  <part name='radius' type= 'xsd:string'/>
  <part name='timeDelay' type= 'xsd:string'/>
  <part name='host_desire' type= 'xsd:string'/>
  <part name='host' type= 'xsd:string'/>
</message>


<message name='existsUserRequest'>
  <part name='id' type='xsd:string'/>
</message>
<message name='existsUserResponse'>
  <part name='Result' type='xsd:integer'/>
</message>
<message name='getUserfirstNameRequest'>
  <part name='id' type='xsd:string'/>
</message>
<message name='getUserfirstNameResponse'>
  <part name='Result' type='xsd:string'/>
</message>
<message name='getUserlastNameRequest'>
  <part name='id' type='xsd:string'/>
</message>
<message name='getUserlastNameResponse'>
  <part name='Result' type='xsd:string'/>
</message>
<message name='getUserAddressRequest'>
  <part name='id' type='xsd:string'/>
</message>
<message name='getUserAddressResponse'>
  <part name='Result' type='xsd:string'/>
</message>
<message name='getUserPhoneRequest'>
  <part name='id' type='xsd:string'/>
</message>
<message name='getUserPhoneResponse'>
  <part name='Result' type='xsd:string'/>
</message>
<message name='getUserEmailRequest'>
  <part name='id' type='xsd:string'/>
</message>
<message name='getUserEmailResponse'>
  <part name='Result' type='xsd:string'/>
</message>
<message name='getUserRadiusRequest'>
  <part name='id' type='xsd:string'/>
</message>
<message name='getUserRadiusResponse'>
  <part name='Result' type='xsd:integer'/>
</message>
<message name='getUserTimeDelayRequest'>
  <part name='id' type='xsd:string'/>
</message>
<message name='getUserTimeDelayResponse'>
  <part name='Result' type='xsd:integer'/>
</message>
<message name='getUserHostDesireRequest'>
  <part name='id' type='xsd:string'/>
</message>
<message name='getUserHostDesireResponse'>
  <part name='Result' type='xsd:integer'/>
</message>
<message name='getUserHostRequest'>
  <part name='id' type='xsd:string'/>
</message>
<message name='getUserHostResponse'>
  <part name='Result' type='xsd:integer'/>
</message>






<portType name='PersonsPortType'>
  <operation name='newUser'>
    <input message='tns:newUserRequest'/>
  </operation>
  <operation name= 'existsUser'>
    <input message='tns:existsUserRequest'/>
    <output message='tns:existsUserResponse'/>
  </operation>
  <operation name='getUserfirstName'>
    <input message='tns:getUserfirstNameRequest'/>
    <output message='tns:getUserfirstNameResponse'/>
  </operation>
  <operation name='getUserlastName'>
    <input message='tns:getUserlastNameRequest'/>
    <output message='tns:getUserlastNameResponse'/>
  </operation>
  <operation name='getUserAddress'>
    <input message='tns:getUserAddressRequest'/>
    <output message='tns:getUserAddressResponse'/>
  </operation>
  <operation name='getUserPhone'>
    <input message='tns:getUserPhoneRequest'/>
    <output message='tns:getUserPhoneResponse'/>
  </operation>
  <operation name='getUserEmail'>
    <input message='tns:getUserEmailRequest'/>
    <output message='tns:getUserEmailResponse'/>
  </operation>
  <operation name='getUserRadius'>
    <input message='tns:getUserRadiusRequest'/>
    <output message='tns:getUserRadiusResponse'/>
  </operation>
  <operation name='getUserTimeDelay'>
    <input message='tns:getUserTimeDelayRequest'/>
    <output message='tns:getUserTimeDelayResponse'/>
  </operation>
   <operation name='getUserHostDesire'>
    <input message='tns:getUserHostDesireRequest'/>
    <output message='tns:getUserHostDesireResponse'/>
  </operation>
  <operation name='getUserHost'>
    <input message='tns:getUserHostRequest'/>
    <output message='tns:getUserHostResponse'/>
  </operation>

</portType>

<binding name='PersonsBinding' type='tns:PersonsPortType'>
  <soap:binding style='rpc'
    transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='newUser'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#newUser'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
  <operation name='existsUser'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#existsUser'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
  <operation name='getUserfirstName'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#getUserfirstName'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
  <operation name='getUserlastName'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#getUserlastName'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
  <operation name='getUserAddress'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#getUserAddress'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
  <operation name='getUserPhone'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#getUserPhone'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
  <operation name='getUserEmail'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#getUserEmail'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
  <operation name='getUserRadius'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#getUserRadius'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
  <operation name='getUserTimeDelay'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#getUserTimeDelay'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
  <operation name='getUserHostDesire'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#getUserHostDesire'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
  <operation name='getUserHost'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#getUserHost'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
 

</binding>

<service name='PersonsService'>
  <port name='PersonsPort' binding='PersonsBinding'>
    <soap:address location='http://localhost:8888/test/wsdl/server2.php'/>
  </port>
</service>
</definitions>